{{!-- {{!< default}}
 
<main class="container" >
    <div class="columns" style="display: flex;">

        {{#foreach posts}}
{{!-- {{#has tag="ar"}} --}}
         <div class="column">
           {{> post_card}}
        </div>
        {{!-- {{/has}} --}}
        {{/foreach}}


    </div>    
    
</main> --}}