{{!< default}}


<div>
{{#post}}


<article>
    <header class="columns"  style="background-image: url({{feature_image}})" >
        
           <img src="{{feature_image}}" alt="">

            
     

</header>
<section >
   
         {{content}}
   
   
</section>

</article>


{{/post}}

</div>

<style>

    .columns
    {
        display: initial;
        margin-left: 30%;
    }
</style>