<footer class="footer is-centerd">

  <div class="contact" id="contact"><img
      src="/content/images/patterns-2.webp"
      alt="patterns"
      class="patterns-1"
    />
    <img
      src="/content/images/patterns-3.webp"
      alt="patterns"
      class="patterns-2"
    /><div class="contact_section-1"><div
        class="contact_section-1--content"
      ><div class="contact_section-1--content-1">Have a project?</div><div
          class="contact_section-1--content-2"
        >We are proud to share your success</div></div><button
        type="button"
        onclick="window.location.href = '/en/contact/'"
        class="contact_section-1--btn no-select"
      >Let's Discuss</button></div><div class="contact_section-2"><div
        class="contact_section-2--content contact_section-2--content-1"
      ><div
          class="contact_section-2--content-1--title no-select"
          onclick="expandInfo(this)"
        >Get in Touch<span class="arrow">⌃</span></div><div
          class="contact_section-2--content-1--line"
          style=""
        ><img
            src="/content/images/location.webp"
            alt="location"
            class="contact_section-2--content-1--line_icon location_icon"
          /><a
            href="https://g.page/PandoSoft?share"
            target="_blank"
            class="contact_section-2--content-1--line_content location no-select"
          >4th floor, 167 Ghaith Center, Mecca Street, Amman, Jordan</a></div><div
          class="contact_section-2--content-1--line"
          style=""
        ><img
            src="/content/images/email.webp"
            class="contact_section-2--content-1--line_icon"
            alt="email"
          /><a
            href="mailto:info@pando-soft.com"
            class="contact_section-2--content-1--line_content email no-select"
          >info@pando-soft.com</a></div><div
          class="contact_section-2--content-1--line"
          style=""
        ><img
            src="/content/images/phone.webp"
            class="contact_section-2--content-1--line_icon"
            alt="phone"
          /><div class="contact_section-2--content-1--line_content">+962 6 582 2
            112</div></div></div><div
        class="contact_section-2--content contact_section-2--content-2"
      ><div
          class="contact_section-2--content-2--title no-select"
          onclick="expandInfo(this)"
        >Navigation<span class="arrow">⌃</span></div><div
          class="contact_section-2--content-2--line no-select"
          style=""
        ><a href="/">Projects</a></div><div
          class="contact_section-2--content-2--line no-select"
          style=""
        ><a href="/">Services</a></div><div
          class="contact_section-2--content-2--line no-select"
          style=""
        ><a href="/about">About Us</a></div><div
          class="contact_section-2--content-2--line no-select"
          style=""
        ><a href="/">Technologies</a></div><div
          class="contact_section-2--content-2--line no-select"
          style=""
        ><a href="/">Contact Us</a></div></div><div
        class="contact_section-2--content contact_section-2--content-3"
      ><div
          class="contact_section-2--content-3--title no-select"
          onclick="expandInfo(this)"
        >Social Media<span class="arrow">⌃</span></div><div
          class="contact_section-2--content-3--grid"
          style=""
        ><a
            href="https://twitter.com/pando_soft"
            target="_blank"
            class="contact_section-2--content-3--line no-select"
          ><img
              src="/content/images/twitter.webp"
              alt="twitter"
              class="contact_section-2--content-3--line_icon"
            /></a><a
            href="https://www.linkedin.com/company/pandosoft"
            target="_blank"
            class="contact_section-2--content-3--line no-select"
          ><img
              src="/content/images/linkedin.webp"
              alt="linkedin"
              class="contact_section-2--content-3--line_icon"
            /></a></div></div></div><div class="contact_section-3">We are always
      looking for new talents, contact us on <a
        href="mailto:careers@pando-soft.com"
        class="contact_section-2--content-1--line_content email no-select"
      >careers@pando-soft.com</a>.</div></div>
</footer>